[Unit]
Description=service for the pi-touchscreen-controller
Requires=network-online.target
After=network-online.target
# Requires/After=mnt-nas_medien.mount

[Service]
ExecStart=/usr/local/bin/start-pi-touchscreen-controller.sh
Nice=19
WorkingDirectory=/usr/local/bin
StandardOutput=file:/tmp/pi-touchscreen-controller.log
StandardError=file:/tmp/pi-touchscreen-controller.log
Restart=no
User=root

[Install]
WantedBy=multi-user.target
